<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <groups>
            <run>
                <include name="auth"/>
            </run>
        </groups>
        <classes>
            <class name="test.BiddingTest"/>
        </classes>
    </test>
</suite>
